@import "~simple-line-icons/css/simple-line-icons.css";
@import "~flexboxgrid/css/flexboxgrid.css";
body {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  position: relative;
  color: white;
  height: 100vh;
  background: #10141d;
  font-family: SansSerif, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
